.special_title{
    color: lightskyblue;
}
body, button, input, select, textarea, h1, h2, h3, h4, h5, h6, p, span, div, a {
  font-family: Arial, sans-serif;
}
body{
    margin: 10px;
}
h1{
    text-align: center;
}

.c_button{
    background-color: #FFFFFF;
    border: 0;
    border-radius: 0.5rem;
    box-sizing: border-box;
    color: #111827;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: 0.75rem 1rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.p_button{
    background-color: #FFFFFF;
    border: 0;
    border-radius: 0.5rem;
    box-sizing: border-box;
    color: #111827;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: 0.75rem 1rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.post-options-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.new-post-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.new-post-container p {
    margin-right: 10px;
    align-self: center;
}

.new-post-btn {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    margin-left: 10px;
}

.new-post-btn:hover {
    background-color: #0056b3;
}

