{% extends "base.html" %}

{% block content %}
    <h2>Edit post</h2>
    <form method="post">
        <div>
            <label for="title">Title</label>
            <input type="text" name="title" value="{{ post[0] }}" class="form-control" id="title" placeholder="Title">
        </div>
        <br>
        <div>
            <label for="content">Content</label>
            <textarea name="content" class="form-control" id="content" placeholder="Content">{{ post[1] }}</textarea>
        </div>
        <br>
        <div>
            <label for="ingredients">Ingredients</label>
            <textarea name="ingredients" class="form-control" id="ingredients" placeholder="Ingredients">{{ post[2] }}</textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
