{% extends "base.html" %}

{% block content %}
    <div class="post-options-container">
        <h2>Posts by followed users</h2>
        <div class="post-options-container">
            <p>New post:</p>
            <a href="new-recipe"><button class="new-post-btn">Recipe</button></a>
            <a href="new_review"><button class="new-post-btn">Restaurant Review</button></a>
        </div>
    </div>

    {% for post in posts %}
    <a href="{{ url_for('recipe_page', post_id=post[4]) }}">
    <div class="post">
        <h2 class="post-title">{{ post[0]}}</h2>
        <p class="post-author">{{ post[1]}}</p>
        <p class="post-date">{{ post[2]}}</p>
        <p class="post-content">{{ post[3] }}</p>
    </div>
    </a>
    <hr>
    {% endfor %}
    {% for review in reviews %}
    <a href="{{ url_for('review', id=review[4]) }}">
    <div class="post">
        <h2 class="post-title">{{ review[0]}}</h2>
        <p class="post-author">{{ review[1]}}</p>
        <p class="post-date">{{ review[2]}}</p>
        <p class="post-content">{{ review[3] }}</p>
    </div>
    <hr>
    {% endfor %}
{% endblock %}
