{% extends "base.html" %}

{% block content %}
    <form method="post">
        <div id="login-card" class="card">
            <div class="card-body">
              <h2 class="text-center">Login form</h2>
              <br>
                <div class="form-group">
                  <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" id="email" placeholder="Enter password" name="pswd">
                </div>
                <button type="submit" id="button" class="btn btn-primary deep-purple btn-block ">Submit</button>
                <br>
            </div>
        </div>
    </form>
{% endblock %}
