{% extends "base.html" %}

{% block content %}
    <h1>Profile</h1>
    <p>Username: {{ user[4] }}</p>
    <p>Email: {{ user[5] }}</p>
    <p>First Name: {{ user[1] }}</p>
    <p>Last Name: {{ user[2] }}</p>
    <p>Country: {{ user[3] }}</p>
    {% if follow %}
    <form action="{{ url_for('unfollow', user_id=user[0]) }}" method="post">
        <input type="submit" value="Unfollow">
    </form>
    {% else %}
    <form action="{{ url_for('follow', user_id=user[0]) }}" method="post">
        <input type="submit" value="Follow">
    </form>
    {% endif %}

    <h2>Posts</h2>
    {% for post in posts %}
    <a href="{{ url_for('recipe_page', post_id=post[4]) }}">
    <div class="post">
        <h2 class="post-title">{{ post[0]}}</h2>
        <p class="post-date">{{ post[1]}}</p>
        <p class="post-content">{{ post[2] }}</p>
    </div>
    </a>
    <hr>
    {% endfor %}

{% endblock %}
