<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/my_style.css">
    <title>Requests example</title>
</head>
<body>
<div class="currency_container">
    <h1>Currency converter</h1>
    <form method="get">
        <p>Enter currency in USD
            <input type="number" name="usd_value">
        </p>
        <p>{{ data }}</p>
        <input type="submit" value="Converter" class="c_button">
    </form>
</div>

<div class="pass_container">
    <h1>Password checker</h1>
    <form method="post">
        <p>Enter your password
            <input type="password" name="check_pass">
        </p>
        <p>{{ data2 }}</p>
        <input type="submit" value="Check" class="p_button">
    </form>
</div>
</body>
</html>
